body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FF5F6D, #FFC371);
    animation: gradientAnimation 10s ease infinite alternate;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: #d11313; /* You can adjust the color as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adding a subtle text shadow for emphasis */
}

.name{
    font-family: 'Pacifico', cursive;
    color: #d11313; /* You can adjust the color as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.emoji{
    text-align: center;
    margin: 50px;
   
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}
